{% extends 'baseFrontend.html.twig' %}
{% block title %}Member Home{% endblock %}

{% block body %}
    <div style="border: 1px solid orangered;background-color: #f1d494;">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashSuccess in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
        {% endfor %}
        <h1>Espace Membre ---- Bienvenue {{ app.user.getUsername }}</h1><br>
        {% if not app.user.getPhoto %}
            <img src="{{ asset( 'img/profilUser.png' ) }}" class="img-circle" width="80" alt="">
        {% else %}
            <img src="{{ asset( 'upload/images/' ~ app.user.getPhoto ) }}" class="img-circle" width="80">
        {% endif %}
        <a class="btn btn-info" href="{{ url('results',{'id':app.user.getId}) }}">
            Découvrer votre programme nutritionel
        </a>
        <a class="btn btn-info" href="{{ url('program') }}">
            Découvrer votre programme sportif
        </a>
        <a class="btn btn-info" href="{{ url('programs_index') }}">
            Découvrer votre programme psychothérapeutique
        </a>
    </div>
{% endblock %}
