{% extends 'baseFrontend.html.twig' %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{% block title %}Home{% endblock %}

{% block body %}
    <div style="border: 1px solid orangered;background-color: #f1d494;">
<h1>bienvenue!!!</h1>
    <a class="btn btn-success" href="{{ url('inscriptionCoach') }}">S'inscrire en tant que coach</a>
    <a class="btn btn-success" href="{{ url('inscriptionMembre') }}">S'inscrire en tant que Membre</a>
    {% if app.user %}
    <a class="btn btn-success" href="{{ url('logoutCoach') }}">Se deconnecter</a>
    {% else %}
    <a class="btn btn-success" href="{{ url('loginCoach') }}">Se connecter en tant que coach</a>
    <a class="btn btn-success" href="{{ url('loginMember') }}">Se connecter en tant que Membre</a>
        </div>
    {% endif %}

{% endblock %}