{% extends 'baseBackend.html.twig' %}

{% block title %}index{% endblock %}
{% block activation1 %}active{% endblock %}
{% block body %}

    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12 main-chart">
                <div class="border-head">
                    <h3>Nombre de coachs et de membres inscrits par mois({{ date()|date('Y') }})</h3>
                </div>
                <div id="bar_chart"></div>
                <div id="pie_chart"></div>
            </div>
            <div class="col-lg-12 main-chart">
                <div class="border-head">
                    <h3>Nombre de differents types coachs par mois({{ date()|date('Y') }})</h3>
                </div>
                <div id="bar_chart2"></div>
                <div id="pie_chart2"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block chart %}
    <script type="text/javascript">
        {{ gc_draw(barchart, 'bar_chart') }}
        {{ gc_draw(barchart2, 'bar_chart2') }}
        {{ gc_draw(piechart, 'pie_chart') }}
        {{ gc_draw(piechart2, 'pie_chart2') }}
    </script>
{% endblock %}
