{% extends 'base.html.twig' %}

{% block title %}ProgramNutri index{% endblock %}

{% block body %}
    <h1>ProgramNutri index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program_nutri in program_nutris %}
            <tr>
                <td>{{ program_nutri.id }}</td>
                <td>{{ program_nutri.nom }}</td>
                <td>{{ program_nutri.type }}</td>
                <td>
                    <a href="{{ path('program_nutri_show', {'id': program_nutri.id}) }}">show</a>
                    <a href="{{ path('program_nutri_edit', {'id': program_nutri.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('program_nutri_new') }}">Create new</a>
{% endblock %}
