{% extends 'base.html.twig' %}

{% block title %}ProgramNutri{% endblock %}

{% block body %}
    <h1>ProgramNutri</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program_nutri.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ program_nutri.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ program_nutri.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('program_nutri_index') }}">back to list</a>

    <a href="{{ path('program_nutri_edit', {'id': program_nutri.id}) }}">edit</a>

    {{ include('program_nutri/_delete_form.html.twig') }}
{% endblock %}
