{% extends 'baseFrontend.html.twig' %}
{% block title %}Coach Home{% endblock %}

{% block body %}
    <div style="border: 1px solid orangered;background-color: #f1d494;">
        <h1>Espace Coach ---- Bienvenue {{ app.user.getUsername }}</h1><br>
        {% if not app.user.getPhoto %}
            <button class="btn btn-default" >Pas de photo de profil</button>
        {% else %}
            <img src="{{ asset( 'upload/images/coach/' ~ app.user.getPhoto ) }}" class="img-circle" width="80">
        {% endif %}
        <a class="btn btn-info" href="{{ url('profileCoach',{'id':app.user.getId}) }}">
            Voir mon profil
        </a>
        <a class="btn btn-info" href="{{ url('updateProfileCoach',{'id':app.user.getId}) }}">
            Modifier mon profil
        </a>
        <a class="btn btn-info" href="{{ url('deleteProfileCoach',{'id':app.user.getId}) }}">
            Supprimer mon compte
        </a>
        <a class="btn btn-success" href="{{ url('app_logout') }}">Se deconnecter</a>
    </div>
{% endblock %}
