{% extends 'base.html.twig' %}

{% block title %}Coach index{% endblock %}

{% block body %}
    <h1>Coach index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
                <th>Sexe</th>
                <th>Telephone</th>
                <th>Statut</th>
                <th>Photo</th>
                <th>Adresse</th>
                <th>Specialite</th>
                <th>Justificatif</th>
                <th>DateInscription</th>
                <th>DateValidation</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.id }}</td>
                <td>{{ coach.nom }}</td>
                <td>{{ coach.prenom }}</td>
                <td>{{ coach.login }}</td>
                <td>{{ coach.password }}</td>
                <td>{{ coach.email }}</td>
                <td>{{ coach.sexe }}</td>
                <td>{{ coach.telephone }}</td>
                <td>{{ coach.statut }}</td>
                <td>{{ coach.photo }}</td>
                <td>{{ coach.adresse }}</td>
                <td>{{ coach.specialite }}</td>
                <td>{{ coach.justificatif }}</td>
                <td>{{ coach.dateInscription ? coach.dateInscription|date('Y-m-d') : '' }}</td>
                <td>{{ coach.dateValidation ? coach.dateValidation|date('Y-m-d') : '' }}</td>
                <td>{{ coach.updatedAt ? coach.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('coach_show', {'id': coach.id}) }}">show</a>
                    <a href="{{ path('coach_edit', {'id': coach.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('coach_new') }}">Create new</a>
{% endblock %}
