{% extends 'base.html.twig' %}
{% block title %}Programme Alimentaire{% endblock %}

{% block body %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in programme %}
            <div class="col">
                <div class="card h-100">
                    <img
                            src="{{ asset('images/' ~ p.image) }}"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{ p.name }}</h5>
                        <p class="card-text">
                            {{ p.description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('show_id',  {'id': p.id}) }}" class="btn btn-primary">read more</a>
                        <a href="{{ path("listp",{'id': p.id }) }}" class="btn btn-primary">download</a>
                    </div>

                </div>
                </div>


        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(programme) }}
    </div>

{% endblock %}